/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }

body {
  margin: 0;
  font-weight: 400;
    letter-spacing: -.016em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1 {
  text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-div{
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
  align-items: center;
}
.title{
  font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: bolder;
}

table.mat-table{
  width: 100%;
}
.btn{
  display: flex;
  flex-direction: row;
}
